@keyframes click_me {
    0% {
        background: linear-gradient(white, #e6e6e6);
    }
    50% {
        background: yellow;
    }
    100% {
        background: linear-gradient(white, #e6e6e6);
    }
}

button.click-me {
    animation: click_me 1s infinite;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    line-height: 16px;
}

tr {
    text-align: center;
}

body {
    font-family: Trebuchet MS, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: aliceblue;
}

button {
    background-image: linear-gradient(white, #e6e6e6);
    border: none;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 1px black;
    font-family: Trebuchet MS;
    margin: 4px 0 0 0;
}

button:hover:enabled {
    box-shadow: 0 0 0 1px slateblue;
}

button:focus {
    background-image: linear-gradient(#4b91ff, #055ce4);
    color: white;
}

button:active:enabled {
    transform: scale(.98);
    color: black;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#returnButton {
    display: table;
    text-decoration: none;
    color: white;
    background-color: slateblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 8pt;
    margin: 0 auto;
    position: relative;
}

#returnButton:hover {
    background-image: linear-gradient(45deg, slateblue, slateblue, slateblue, slateblue, #fdc122, #dc6a3f, #d55945, #dc6a3f, #fdc122);
    background-size: 500% 500%;
    animation: gradient 4s ease infinite;
}

#returnButton a {
    display: table-cell;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;
}

#returnButton a:visited {
    text-decoration: none;
    color: white;
}

#returnArrow {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 12pt;
}

.editorButton {
    margin: -1;
}

#uneditButton {
    margin-right: 10px;
}

#reeditButton {
    margin-left: 10px;
}

#editorPane {
    display: none;
    padding-left: 5px;
}

#levelTable {
    margin: 0 auto;
}

.buttonHeader {
    font-size: 10pt;
    font-weight: 900;
}

#editsSpan {
    font-size: 10pt;
}

#editText {
    font-size: 10pt;
}

.standard {
    background-color: lightsteelblue;
}

.controlsHeader {
    line-height: 20px;
}

.experimental {
    background-color: lightblue;
}

.spacer {
    height: 10px;
}

.hotkeySpacer {
    display: none;
}

#controls {
    background-color: aliceblue;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.header {
    font-weight: 900;
}

#selectHolder {
    display: inline-block;
}

#controlsRow button {
    vertical-align: top;
}

#levelTypeContainer {
    display: flex;
    align-items: center;
    width: 280px;
    position: relative;
}

#levelType {
    flex-grow: 1;
    font-size: 16pt;
    color: slateblue;
    font-weight: 900;
}

#levelTypeSpan {
    font-size: 8pt;
    font-weight: 100;
    margin-bottom: 5px;
}

canvas {
    border: 2px solid black;
    border-radius: 20px;
}

.hotkey {
    font-size: 8pt;
    color: rgba(0, 0, 0, 0.5);
    font-family: Trebuchet MS;
}

.buttonDiv {
    display: inline-block;
}

#controlButtons {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
}

#switchSnakesButton {
    min-height: 30px;
    margin-right: 20px;
}

#arrowsHolder {
    display: flex;
    align-items: center;
}

.arrow {
    min-height: 30px;
    min-width: 30px;
    font-size: 14pt;
}

#arrowLeft {
    float: left;
    margin-right: 5px;
}

#verticalArrowsHolder {
    float: left;
}

#arrowRight {
    float: left;
    margin-left: 5px;
}

.plusMinus {
    min-height: 10px;
    min-width: 10px;
    font-size: 8pt;
    font-weight: 900;
    display: table-cell;
}

.bigButton {
    font-size: 20pt;
    padding: 10px;
}

#bigButtonButton {
    display: none;
}

#bigButtonButton:hover {
    cursor: pointer;
}

#bigButtonButton:active {
    transform: scale(.97);
}

#bottomBlock {
    display: table;
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.separator {
    background-color: black;
    height: 200px;
    width: 1px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.optionsHeader {
    margin-top: 10px;
    font-family: Trebuchet MS;
}

#keyboardInstructions {
    font-size: 8pt;
    width: 220px;
    text-align: center;
    display: inline-block;
}

#levelSize {
    width: fit-content;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 4px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
}

#levelSizeText {
    font-size: 8pt;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
}

#levelSizeText:hover {
    cursor: default;
    border-radius: 3px;
    background-color: slateblue;
    color: white;
}

#levelSizeText:active {
    transform: scale(0.97);
}

.optionsHeaders {
    font-weight: 900;
}

.bottomBlockBox {
    width: 33%;
    text-align: center;
    font-size: 10pt;
    font-family: Trebuchet MS;
    display: table-cell;
    vertical-align: top;
}

#firstBottomBlock {
    position: absolute;
    top: -12px;
    left: -300px;
}

#fitButton {
    position: absolute;
    font-size: 8pt;
    top: 25%;
    left: -30px;
    cursor: default;
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
}

#fitButton:hover {
    background-color: slateblue;
    color: white;
}

#fitButton:active {
    transform: scale(0.9);
}

#paradoxDiv {
    background: #f88;
    text-align: center;
}

#cycleDiv {
    background: yellow;
    text-align: center;
}

#additions {
    display: none;
    font-family: Trebuchet MS;
    color: white;
    font-size: 8pt;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .3);
    padding: 5px;
    position: absolute;
    top: 52px;
    right: 0;
}

#editorDiv {
    width: 100%;
    text-align: center;
}

#shareLink {
    padding-right: 5px;
    display: table-cell;
    font-size: 10pt;
}

#shareLinkTextbox {
    padding: 5px;
    display: table-cell;
    border-radius: 2px;
    border: 1px solid black;
    background-color: slateblue;
    color: white;
}

#link2 {
    padding-right: 5px;
    display: table-cell;
    font-size: 10pt;
}

#link2Textbox {
    padding: 5px;
    display: table-cell;
    border-radius: 2px;
    border: 1px solid black;
    background-color: slateblue;
    color: white;
}

#submitSerializationButton {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
    background-image: none;
    background-color: slateblue;
    float: left;
    color: white;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#canvasContainer {
    position: relative;
}

#canvas1 {
    z-index: 1;
}

#canvas2 {
    z-index: 2;
}

#canvas3 {
    z-index: 3;
}

#canvas4 {
    z-index: 4;
}

#canvas5 {
    z-index: 5;
}

#canvas6 {
    z-index: 6;
}

#progressButtons {
    display: table;
    margin: 0 auto;
}

#unmoveButton {
    transform: scale(-1, 1);
}

#removeButton {}

.progressButton {
    font-size: 10pt;
    line-height: 10pt;
    display: table-cell;
    vertical-align: top;
    padding: 1px 0 0 10px;
}

.progressButton:hover {
    cursor: pointer;
    color: slateblue;
}

#movesSpan {
    display: table-cell;
    vertical-align: bottom;
}

.bottomButton {}

.sliderStack {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    display: table;
    border-radius: 5px;
}

.sliderContainer {
    display: block;
    border-radius: 5px;
    padding: 2px;
}

.sliderLabel {
    font-family: Trebuchet MS;
    font-size: 8pt;
    line-height: 12pt;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 30px;
    height: 17px;
    float: right;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: slateblue;
}

input:focus+.slider {
    box-shadow: 0 0 1px slateblue;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.small {
    font-size: 6pt;
}

#levelRow {}

#emptyBox {
    height: 500;
    width: 100px;
    border: 5px solid transparent;
}

#emptyBox:hover {
    border: 5px solid red;
}
