@keyframes click_me {
    0%   { background: linear-gradient(white, #e6e6e6); }
    50%  { background: yellow; }
    100% { background: linear-gradient(white, #e6e6e6); }
}

button.click-me {
    animation: click_me 1s infinite;
    font-weight: bold;
}

table{
    border-collapse: collapse;   
}

td{
    text-align: center;
    line-height: 16px;
}

tr{
    text-align: center;
}

body{
    font-family: Futura;
    background-color: aliceblue;
}

button{
    background-image: linear-gradient(white, #e6e6e6);
    border: none;
    border-radius: 3px;
    box-shadow: .5px .5px 1px black;
}

button:focus{
    background-image: linear-gradient(#4b91ff, #055ce4);
    color: white;
}

button:active{
    box-shadow: .5px .5px 1px black inset;
    color: black;
}

#returnButton{
    text-decoration: none;
    color: #006666;
}

.editorButton{
    margin: -1px; /* buttons have built in margins when HTML tags aren't on same line */
}

#levelTable{
    margin: 0 auto;
}   

.buttonHeader{
    font-size: 10pt;
}

#editsSpan{
    font-size: 10pt;   
}

#editText{
    font-size: 10pt;   
}

.standard{
    background-color: lightsteelblue;   
}

.controlsHeader{
    line-height: 20px;
}

.experimental{
    background-color: lightblue;   
}

.spacer{
    height: 10px;
}

.hotkeySpacer{
    display: none;
}

#controls{
    background-color: aliceblue;
    width: 200px;
    border: 2px solid black;
}

.header{
    font-style: italic;
}

#selectHolder{
    display: inline-block;
}

#controlsRow button{
    vertical-align: top;   
}

#levelType{
    font-family: Arial;
    font-size: 12pt;
    color:slateblue; 
    margin: 0 0 10px 0;
}

canvas{
    border: 2px solid black;   
}

.hotkey{
    font-size: 6pt; 
    color: gray;
    font-family: Arial;
}

.buttonDiv{
    display: inline-block;
}

#controlButtons{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
}

#switchSnakesButton{
    min-height: 30px;
    margin-right: 10px;
}

#arrowsHolder{
    display: flex;
    align-items: center;
}

.arrow{
    min-height: 30px;
    min-width: 30px;
    font-size: 14pt;
    font-family: Futura;
}

#arrowLeft{
    float: left;
    margin-right: 5px;
}

#verticalArrowsHolder{
    float: left;
    width: fit-content;
}

#arrowRight{
    float: left;
    margin-left: 5px;
}

.bigButton{
    font-size: 20pt;
    padding: 10px;
}

#bottomBlock{
    text-align: center;
    vertical-align: top;
}

#separator{
    background-color: black;
    height: 150px;
    width: 1px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.optionsHeader{
    margin-top: 10px;
    font-family: Futura;
}

#keyboardInstructions{
    font-size: 8pt;
    width: 220px;
}
