body{
    font-family: Futura;
    background-color: #fdc122;
    padding-bottom: 50px;
}

table{
    width: 100%;
    counter-reset: rowNumber;
    border-spacing: 0;
    border-collapse: collapse;
}

th{
    font-size: 20px;
    padding-bottom: 20px;
}

tr{
    height: 30px;
}

table tr:not(:first-child){
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

td{
    text-align: center;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}

td a{
    display: block;
    width: 100%;
}

td:hover:not(:first-child){
    background-color: white;
}

#title{
    width: 100%;
    text-align: center;
    font-family: Impact;
    font-size: 100px;
    margin-bottom: 20px;
}

.topLink{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

#top{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
}

td.noteColumn:hover{
    background-color: #18d11f !important;
}

#tableHolder{
    width: 50%;
    margin: 0 auto;
    border-spacing: 0;
    background-color: #18d11f;
    border: 10px solid black;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
}

#solutionHeader{
}

.numberColumn{
    color: gray;
}

#templateHolder{
    width: 40%;
    background-color: white;
    float: left;
    padding: 10px;
    border-radius: 10px;
    background-color: #BA145C;
    color: white;
}

#githubLinkHolder{
    width: 40%;
    margin-left: 50%;
}
