table{
    width: 50%;
    font-family: Palatino;
    counter-reset: rowNumber;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: collapse;
}

tr{
    height: 30px;
}

table tr:not(:first-child){
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

td{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

td:hover{
    background-color: gainsboro;
}

div{
    width: 100%;
    text-align: center;
    font-family: Impact;
    font-size: 100px;
}
